* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(100, 0, 0);
      .logo-header {
        display: flex;
        gap: 20px;
        padding-left: 50px;
        padding-top: 28px;
        h1 {
          padding-right: 50px;
          color: #fff;
          margin-top: 2px;
        }
      }
      .container-input {
        position: relative;
        --size-button: 40px;
        color: white;
      }
      
      .input {
        padding-left: var(--size-button);
        height: var(--size-button);
        font-size: 15px;
        border: none;
        color: #000;
        outline: none;
        width: var(--size-button);
        transition: all ease 0.3s;
        background-color: #fff;
        border-radius: 50px;
        cursor: pointer;
      }
      
      .input:focus,
      .input:not(:invalid) {
        width: 200px;
        cursor: text;
      }
      
      .input:focus + .icon,
      .input:not(:invalid) + .icon {
        pointer-events: all;
        cursor: pointer;
      }
      
      .container-input .icon {
        position: absolute;
        width: var(--size-button);
        height: var(--size-button);
        top: 0;
        left: 0;
        padding: 8px;
        pointer-events: none;
      }
      
      .container-input .icon svg {
        color: #000;
        width: 100%;
        height: 100%;
      } 
       

      // .head-buttons {
      //   padding-top: 4px;
      // }
      // .home-icon {
      //   padding-top: 4px;
      // }
      // a {
      //   font-size: 17px;
      //   margin-left: 40px;
      //   text-decoration: none;
      // }
      // .menu__link {
      //   color: #fff;
      //   line-height: 2;
      //   position: relative;
      // }
      
      // .menu__link::before {
      //   content: '';
      //   width: 0;
      //   height: 2px;
      //   border-radius: 2px;
      //   background-color: #fff;
      //   position: absolute;
      //   bottom: -.25rem;
      //   left: 50%;
      //   transition: width .4s, left .4s;
      // }
      
      // .menu__link:hover::before {
      //   width: 100%;
      //   left: 0;
      // }
      
      

      .radio-inputs {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        background-color: none;
        box-sizing: border-box;
        padding: 0.25rem;
        width: 400px;
        font-size: 17px;
      }
      
      .radio-inputs .radio {
        flex: 1 1 auto;
        text-align: center;
      }
      
      .radio-inputs .radio input {
        display: none;
      }
      
      .radio-inputs .radio .name {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: none;
        padding: .5rem 0;
        color: #fff;
        transition: all .15s ease-in-out;
      }
      
      .radio-inputs .radio input:checked + .name {
        background-color: #fff;
        color: #000;
        font-weight: 600;
      }
}

.tavsiyalar h1 {
  color: #fff;
  padding-left: 50px;
  font-size: 35px;
  padding-top: 50px;

}

.head-cards {
  display: flex;
  gap: 20px;
  padding-top: 10px;
  padding-left: 45px;
  .card {
    max-width: 300px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-color: rgb(239, 205, 255);
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }  
}


@media only screen and (max-width: 580px) {
          .header {
          width: 100%;
          height: 80px;
          background-color: rgb(100, 0, 0);
          }
          .logo-header {
            display: flex;
            gap: 20px;
          }

          .container-input {
            position: relative;
            --size-button: 40px;
            color: white;
          }
          
          .input {
            padding-left: var(--size-button);
            height: var(--size-button);
            font-size: 15px;
            border: none;
            color: #000;
            outline: none;
            width: var(--size-button);
            transition: all ease 0.3s;
            background-color: #fff;
            border-radius: 50px;
            cursor: pointer;
          }
          
          .input:focus,
          .input:not(:invalid) {
            width: 200px;
            cursor: text;
          }
          
          .input:focus + .icon,
          .input:not(:invalid) + .icon {
            pointer-events: all;
            cursor: pointer;
          }
          
          .container-input .icon {
            position: absolute;
            width: var(--size-button);
            height: var(--size-button);
            top: 0;
            left: 0;
            padding: 8px;
            pointer-events: none;
          }
          
          .container-input .icon svg {
            color: #000;
            width: 100%;
            height: 100%;
          }    
}